body {
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 12px;
    color:#333;
}

.main{
	margin: auto;
    z-index:0;
}

.topbar{
    position:absolute;
    z-index:-10;
	width: 100%;
	height: 50px;
	background-color: #F5F5F5;
	border-bottom: 1px solid #E5E5E5;
    top: 0px;
    left: 0px;
}


.header-container{ 	
    position:relative;
    top:5px;
	height: 40px;
    width:980px;
	margin: auto;
    left: 0px;
}

.header-logo{
    float: left;
	width: 105px;
    height:40px;
}

.header-logo-title{
	font-size: 2.6em;
	height: 45px;
	font-weight: bold;

}

.header-command-bar{    
    float:left;
    width:400px;
    height:28px;
    margin-top:6px;
    margin-left:230px;
    font-size:13px;
    font-weight:bold;
}

.header-topnav-element{
    color:inherit;
    text-decoration: inherit;
    font-size:1.1em;
    line-height:2.1;
    font-weight: 900;
    padding-right:8px;
    padding-left:8px;
}
.header-topnav-element:hover{
    color:#4183c4;
}

.header-action{
    float:right;
    margin-top:3px; 
	width: 180px;
	height: 34px;
}

.header-action-question{
    float:right;
    margin-top:8px; 
	width: 180px;
	height: 34px;
    font-size:14px;
    font-weight:bold;
}

.header-action-button{
    display:inline-block;
    background-color: black;
    
}
.header-action-button:hover{
     opacity:0.7;
}


.button_button{
    border-radius:6px;
}


.content{

    width: 980px;
	min-height: 450px;
    margin:auto;
    margin-top:55px;
    padding-top:50px;
}

.content_loginpanel{
    position:relative;
    margin-top:55px;
    margin-left:30%;
    width:400px;
    /*height:350px;*/
    
}



.content_questionpanel{
    position: relative;
    margin-top: 55px;
    margin:auto;
    width: 500px;
    /*height: 400px;*/
    padding:10px;
    background-color:#788E9E;
    border-radius:8px;
}

.panel-titlebar{
    border: 2px solid #788E9E;
    height:40px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    background:#788E9E;

    font-family:Arial;
    padding-left:10px;
}

.panel-titlebar-question{
    border: 2px solid #788E9E;
    height:40px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    background:#788E9E;

    font-family:Arial;
    padding-left:10px;
    
}

.panel-main-content{
    border: 1px solid #E5E5E5;
    border-top:1px solid #FFF;
    /*width:398px;*/
    /*min-height:230px;*/
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    padding:10px;
}

.panel-main-content-question{
    border: 1px solid #E5E5E5;
    border-top:1px solid #FFF;
    /*width:398px;*/
    /*min-height:230px;*/
    border-radius:8px;
    padding:10px;

    background-color:white;
}

.panel-add-answer{
    height:50px;
}

.login-form-header{
    color:white;
    vertical-align:central;
    line-height:40px;
    font-size:18px;
    font-weight:bold;

}

.question-form-header{
    color:white;
    vertical-align:central;
    line-height:40px;
    font-size:18px;
    font-weight:bold;
}

.panel-button-add-answer{
    width:30px;
    height:30px;
}

.panel-input-btn{
    position:relative;
    top:10px;
    width:30px;
    height:28px;
    padding-top:2px;
    margin-left:-35px;
    border-left:1px solid #D5D5D5;
}

.panel-label-title-of-textbox{
    font-weight:bold;
    font-size:14px;
    color: #333;
    line-height:40px;
}

.button-question-submit{
    margin-left:22px;
}

.True{
    color:green;
}

.False{
    color:red;
}

.panel-input{

    border-radius:3px;
    border:1px solid #D5D5D5;
    padding-left:10px;
    padding-top:0px;
    font-size:13px;

    width:60%;
    height:30px;

}

.multi-line{
    padding-top:10px;
    padding-bottom:10px;
    resize:none;
    
}

#txtPassword{
    border-radius:3px;
    border:1px solid #D5D5D5;
    padding-left:10px;
    font-size:13px;
}

#btnSignin{
    border-radius:3px;
    font-weight:bold;
    border:1px solid #D5D5D5;
}

#btnSignup{
    border-radius:3px;
    color:white;
    font-weight:bold;
    border:1px solid #5CA941;
}

#valLogin{
    padding-left:14px;
    margin-bottom:1px;
}

.footer{
    vertical-align:central;
    line-height:70px;

    border-top:1px solid #D5D5D5;
	width: 980px;
	height: 70px;
    margin:auto;
}

.account-image {
    height:"20px";
}
