body {
	font-family: Helvetica, Calibri, freesans, clean, sans-serif;
	font-size: 12px;
	background-color: #FFF;
}

.main{
	/*position: relative;*/
	margin: auto;
}

.page_div{
	width: 980px;
}

.header{
	margin: auto;
	float: left;

	display: block;
	width: 100%;
	min-width: 1000px;
	height: 68px;
	

	border-bottom: 1px solid #E5E5E5;
}

.header_container{ 	
	display: block;
	margin: auto;
	margin-top: 12px;
	height: 38px;
	border: 1px solid;
}

.logo_outer{
	float: left;
}

.logo_inner{
	/*padding-top: 15px;*/
	color: #333;
	font-size: 2.6em;
	height: 2.5em;
	font-weight: bold;
}


.button{
	display: inline-block;
	text-align: center;
	font-weight: bold;
	border-radius: 3px;
}

#btnSignin{
	height: 30px;
	width: 70px;
	float: right;
	background-color: #EEE;
	border: 1px solid #D5D5D5;
}


.content{
	min-height: 400px;
}

.footer{
	margin: auto;
	height: 120px;
	border-top: 1px solid #E5E5E5;
}
